h1 {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    display: flex;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkgreen;
    color: white;
}

li {
    font-size: 30px;
    margin-left: 40px;
}

h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
